/* Wrapper que preenche o .canvas-container */
.canvas-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* O canvas em si, que preenche o wrapper */
.main-canvas {
  width: 100%;
  height: 100%;
  display: block; /* Remove espaçamentos indesejados */
  background-color: #ffffff;
}